/* El CSS toma como base el diseño móvil, adaptando las partes que sean necesarias en formato tablet y desktop */
/* usando media queries al final del documento para evitar solapamientos por herencia */

/* CONTENIDO GLOBAL A TODO EL DOCUMENTO */

html {
    /* Definir un tamaño en px en el html para que redimensionar con unidades rem sea más fácil */
    font-size: 10px;
    /* Modelo de cajas alternativo */
    box-sizing: border-box;
}

* {
    /* Modelo de cajas alternativo */
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    /* Todos los elementos heredan el modelo de caja alternativo */
    box-sizing: inherit;

}

/* CONTENEDORES BASE QUE DETERMINAN CUÁNTO OCUPA EL CONTENIDO */


/* Elementos que tienen en común todos los contendores de la web */
.containerHeader,
.containerImgFull,
.containerMainSpace,
.containerMainFull {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Contenedores centrados en los contenidos, en función de la resolución se aplicará un max-width y un padding por defecto */
.containerMainSpace,
.containerMainFull {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* CONTENEDORES QUE REQUIEREN UN DISPLAY FLEX PARA EL DISEÑO RESPONSIVO */


/* Para las tarjetas que se muestran en la web y la separación de contenido en el index en dispositivos de resolución grande */
.coleccionTarjetasIndex,
.coleccionTarjetasBlog,
.coleccionTarjetasPost,
.contenidoIndex,
.navIconos {
    display: flex;
    /* Uso de un flex direction column */
    flex-direction: column;
}

.enlacesPaginacion,
.navIconos {
    /* Se aplica un display flex centrando los contenidos y separándolos */
    display: flex;
    flex-direction: row;
    /* Para colocar los elementos hijos en el centro respecto al resto del espacio */
    justify-content: center;
}

/* Contenedor enlaces paginación blog.html*/
.enlacesPaginacion {
    /* Separación entre los elementos */
    gap: 1rem;
    /* Separación con los elementos de arriba */
    margin-top: 6rem;
}

.navIconos {
    /* Espacio entre los elementos hijos */
    gap: 0.5rem;
}

.enlacesPaginacion li,
.navIconos li {
    /* Eliminar los puntos de los enlaces de paginación en blog.html */
    list-style: none;
}


/* ELEMENTOS BASE */

header,
footer {
    /* Extender header y footer al 100% del ancho permitido */
    width: 100%;
}

body {
    /* Fondo del body de las páginas */
    background-color: rgb(242, 242, 230);
    /* Evitar que el validador CSS tenga problemas */
    color: inherit;
    /* Tipografía usada en toda la web */
    font-family: 'Alegreya', sans-serif;
}

p {
    /* Color de los textos */
    color: rgb(0, 0, 0);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
    /* Interlineado base */
    line-height: 3rem;
    /* Tamaño base */
    font-size: 1.8em;
    /* Margen inferior */
    margin-bottom: 2.5rem;
}

img {
    /* Imágenes responsivas */
    max-width: 100%;
}

article header {
    /* Margen inferior texto título */
    margin-bottom: 3rem;
}

header h2 {
    /* Tamaño por defecto del h2 en los headers */
    font-size: 2.5rem;
    /* Margen inferior header h2*/
    margin-bottom: 5rem;
}

section h3 {
    /* Tamaño de las secciones */
    font-size: 2rem;
    /* Margen inferior texto */
    margin-bottom: 3rem;
}

/* MENU NAVEGACION PRINCIPAL */

/* Header común a todas las páginas */

/* Título de la web que contiene el enlace a la página principal*/
h1 {
    /* Márgenes internos */
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    /* Alineación del texto */
    text-align: center;
}

.containerHeader {
    /* Fondo del header de las páginas */
    background-color: rgb(255, 255, 255);
    /* Evitar que el validador CSS tenga problemas */
    color: inherit;
    /*  Margen de separación con los contenidos de abajo */
    margin-bottom: -1rem;
}

/* Elementos de la lista de navegación*/
.containerHeader nav li {
    /* Quitar el punto de la lista */
    list-style: none;
    /* Alinear el texto */
    text-align: center;
    /* Márgenes por todos los lados*/
    margin: 0.5rem;
}

/* Último enlace de la lista de la navegación principal */
.navBlog {
    padding-bottom: 4rem;
}

/* GESTION DE LA IMAGEN CENTRAL DE INDEX.HTML Y POST.HTML */

/* Imagen central de index.html */

.imagenCompleta {
    /* Para que ocupe todo el ancho */
    width: 100%;
    /* Tamaño fijo de altura a mantener sin importar la resolucion*/
    height: 50rem;
    /* Para mantener la relacion de aspecto mientras se rellena toda caja */
    object-fit: cover;
}

/* Texto Nature Hub Un espacio para los defensores del medio ambiente */
.textoImagenIndex {
    /* El DIV ocupa todo el ancho para que el texto se pueda centrar bien */
    width: 100%;
    /* Posicion absolute para que salga del flujo normal */
    position: absolute;
    /* Se alinea el texto en el centro*/
    text-align: center;
    /* Distancia con el extremo superior del navegador */
    top: 35rem;
    /* Texto sobre la imagen de fondo de la página index.html */
    color: rgb(255, 255, 255);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
}

/* Gestión texto imagen index */
.textoImagenIndex h2 {
    /* Tamaño de la fuente de letra */
    font-size: 4rem;
    /* Margen con el texto de abajo */
    margin-bottom: 3rem;
}

/* Un espacio para los defensores del medio ambiente */
.textoImagenIndex h3 {
    /* Paddings para centrar el texto */
    padding-left: 4rem;
    padding-right: 4rem;
    /* Tamaño de fuente */
    font-size: 2.5rem;
    /* El grosor de fuente es el normal */
    font-weight: 400;
}

/* GESTIÓN DE LAS CITAS */

cite {
    /* Fondo de los textos de crédito de las imágenes */
    background-color: rgba(242, 242, 230, 0.7);
    /* Evitar que el validador CSS tenga problemas */
    color: inherit;
    /* Margen interno cita*/
    padding: 1rem;
}

cite a {
    /* Se reinicia el color para que no se sobreescriba en la cita */
    background-color: initial;
    /* Para que el validador CSS no tenga adevertencias */
    color: inherit;
}

/* Instrucciones CSS relativas a colocar las citas en las imágenes */
.citaImagenCompleta,
.citaImagenTarjeta {
    /* Posicion relativa para colocar la cita dentro de la imagen */
    position: relative;
    /* Para ocupar todo el ancho */
    width: 100%;
    /* Alinear el texto a la derecha */
    text-align: right;
    /* Disponemos algo de margen adicional para la cita en las imágenes */
    margin-left: 1rem;
    /* Encajar el texto arriba */
    top: -5rem;
}

.citaImagenCompleta {
    /* Espacio con el extremo derecho de la cita principal */
    padding-right: 3rem;
}

.citaImagenTarjeta {
    /* Espacio con el extremo derecho de la cita con imagen */
    padding-right: 2rem;
}

.citaImagenCompleta cite,
.citaImagenTarjeta cite {
    /* Tipo de letra normal en vez de italica */
    font-style: normal;
}

/* ENLACES A NIVEL GENERAL */

a {
    /* Color de los enlaces */
    color: rgb(0, 0, 0);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
    /* Subrayado con puntos en un enlace */
    text-decoration: underline;
    text-decoration-style: dotted;
    /* Dejar espacio por debajo del texto */
    text-underline-offset: 0.4rem;
}

a:hover {
    /* Mostrar enlace con borde de línea continua */
    text-decoration-style: initial;
}

/* BOTON + ENLACES EN FORMA DE BOTON + ENLACES DE LA PAGINACIÓN */

button,
.enlaceBoton a,
.enlaceBotonPaginacion a {
    /* Márgenes internos del botón */
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

button,
.enlaceBoton a {
    /* Fondo de color transparente*/
    background-color: transparent;
    /* Para que el validador CSS no tenga adevertencias */
    color: inherit;
}

button {
    /* Borde del botón */
    border: 0.1rem solid rgb(0, 0, 0);
    /* Margen con el texto inferior */
    margin-bottom: 5rem;
    /* Tamaño del texto del botón */
    font-size: 1.7rem;
}

.enlaceBoton {
    /* Posición absoluta para poder fijar el botón */
    position: absolute;
    /* Botón en el fondo */
    bottom: 0rem;
    /* Margen a la izquierda */
    left: 1rem;
}

.enlaceBoton a,
.enlaceBotonPaginacion a {
    /* Color de los bordes de los enlaces en forma de botón */
    border: 0.1rem solid rgb(0, 0, 0);
    /* Quitar el subrayado*/
    text-decoration: none;
}

.enlaceBotonPaginacion a {
    /* Fondo blanco enlaces paginacion */
    background-color: rgb(255, 255, 255);
    /* Para que el validador CSS no tenga adevertencias */
    color: inherit;
}

.enlaceBoton a:hover,
button:hover {
    /* Cambio de color del borde en su estado hover */
    border: 0.1rem solid rgb(64, 195, 130);
}

.enlaceBotonPaginacion a:hover,
.enlaceBotonPaginacion .paginaActual {
    /* Quito el color de borde pese a que el documento diga que sea verde porque si no me da warning el validador CSS */
    border: none;
    /* Enlace de página actual de los enlaces de paginación al final de la página blog.html + elementos seleccionados del menu de paginacion */
    background-color: rgb(64, 195, 130);
    /* Color de texto */
    color: rgb(255, 255, 255);
}


/* NAVEGACIÓN TARJETAS EN LA WEB */

/* Titulares que se presentan como enlaces */
h3 a:hover {
    /* Estado :hover de los titulares que se preparan como enlaces */
    color: rgb(64, 195, 130);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
}


/* NAVEGACION INTERNA tema-del-mes.html */

.navInterior {
    /* Margen con la lista inferior */
    margin-bottom: 5rem;
    /* Aplicamos propiedades flex en línea centrando los elementos */
    display: flex;
    flex-direction: row;
    /* Centramos los elementos */
    justify-content: center;
    /* Excluimos el tipo de lista */
    list-style: none;
}

.navInterior li {
    /* Aumenta el tamaño de los elementos de la navegación interior */
    font-size: 1.2rem;
    /* Se aumenta el peso de letra */
    font-weight: bold;
}

.navInterior a {
    /* Quitar subrayado navegacion interna */
    text-decoration: none;
}

.navInterior a:hover {
    /* Estado :hover de los enlaces del menú interior de la página tema-del-mes.html */
    color: rgb(64, 195, 130);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
}

.llevaPunto::after {
    /* Colocar punto de separación */
    margin: 0.5em;
    content: "\1F784";
    /* Color del punto separador */
    color: rgb(64, 195, 130);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
}

/* NAVEGACION DE LA PAGINA post.html */

.navPost {
    /* Colocar los elementos flex en línea del menú de navegación interno */
    display: flex;
    flex-direction: row;
    /* Margen separador con el header */
    margin-top: -4rem;
    /* Margen separador con el título del post */
    margin-bottom: 1rem;
}

.navPost {
    /* Se elimina la lista de navegación */
    list-style: none;
}

.navPost li:nth-child(3) {
    /* Para alinear el texto con los enlaces en el menú de navegación */
    margin-top: -0.6rem;
}

.navPost li:nth-child(3)::after {
    /* Contenido vacío para que el texto permanezca alineado */
    content: "";
    /* Separación externa a la derecha */
    margin-left: 1em;
}

.navPost a, .navPost p {
    /* Tamaño del texto en la navegación interna */
    font-size: 1.3rem;
}

.navPost a {
    /* Eliminar subrayado enlaces */
    text-decoration: none;
}

.llevaFlecha::after {
    /* Elemento separador > entre los diferentes elementos */
    content: "\003E";
    /* Margen entre los elementos */
    margin: 1em;
}


/* GESTION DE LAS TARJETAS */

.tarjeta,
.tarjetaImg {
    /* Fondo de las tarjetas */
    background-color: rgb(255, 255, 255);
    /* Evitar que el validador CSS tenga problemas */
    color: inherit;
    /* Margen superior externo de la tarjeta*/
    margin-top: 3rem;
    /* Para poder redimensionar el enlace de botón como absolute */
    position: relative;
}

.tarjeta,
.tarjetaImg .textoTarjetaImg {
    /* Márgenes internos comunes de los textos de las tarjetas */
    padding-left: 1.2rem;
    padding-right: 1.2rem;

}

.tarjeta {
    /* Márgenes internos de los textos de las tarjetas sin imagen */
    padding-top: 2.5em;
    padding-bottom: 6rem;
}


.tarjetaImg .textoTarjetaImg {
    /* Márgenes internos de los textos de las tarjetas con imagen */
    padding-top: 0.5em;
    padding-bottom: 8rem;

}

.tarjeta h3,
.tarjetaImg h3 {
    /* Tamaño por defecto de las tarjetas de la página */
    font-size: 2rem;
}

.tarjeta p,
.tarjetaImg p {
    /* Margen de la tarjeta con el texto de arriba */
    margin-top: 2rem;
}

.tarjeta h3 a,
.textoTarjetaImg a {
    /* Quitar decoración enlaces tarjetas sin imagen */
    text-decoration: none;
}

.textoTarjetaImg aside p {
    /* Reducir el tamaño del autor*/
    font-size: 1.2rem;
}

/* FORMULARIO */

label {
    /* Tamaño base de las labels */
    font-size: 1.6rem;
}

.infoPrivacidad {
    /* Tamaño base del texto "Antes de enviar tus datos... */
    font-size: 1.2rem;
    /* Margen con la parte de abajo */
    margin-bottom: 1rem;
}

.infoPrivacidad + p {
    /* Margen check política de privacidad con el botón de envío */
    margin-bottom: 1rem;
}

input[type="checkbox"] {
    /* Para alinear el check de privacidad con el texto */
    vertical-align: middle;
}


input[type="text"],
input[type="email"] {
    /* Disposición de bloque + propiedades asociadas para ajustar el recuadro en el centro */
    display: block;
    /* Margen interno del elemento para escribir */
    padding: 0.6rem;
    /* Margen superior con las labels asociadas*/
    margin-top: 1rem;
    /* Margen inferior */
    margin-bottom: 1.5rem;
    /* Fondo de los controles del formulario de la página index.html */
    background-color: rgb(255, 255, 255);
    /* Evitar que el validador CSS tenga problemas */
    color: inherit;
    /* Quitar el borde del juego */
    border: none;
    /* Abarca el máximo ancho posible */
    width: 100%;
}

input:focus {
    /* Se quita la línea que sale al seleccionar el campo del formulario */
    outline: none;
    /* Mostrar un borde de color negro */
    border: 0.1rem solid rgb(0, 0, 0);
}


/* FOOTER */

footer {
    /* Color de fondo del footer */
    background-color: rgb(0, 0, 0);
    /* Para que el validador CSS no produzca warnings */
    color: inherit;
    /* Margen con las tarjetas*/
    margin-top: 8rem;
    /* Margen con el logotipo */
    padding-top: 3rem;
    /* Para alinear en el centro el texto del footer del contenedor que abarca todo el espacio */
    text-align: center;
}

/* Para la imagen que es hijo directo */
footer .containerHFLeft img {
    /* Reducimos el ancho de la imagen del footer y ajustamos el alto */
    width: 40%;
    height: auto;
    /* Separación con el textto de abajo */
    margin-bottom: 2rem;
}

footer p {
    /* Se ajusta el tamaño del texto 2024-2025 Nombre y apellidos del alumno */
    font-size: 1.5rem;
    /* Se ajusta el margen inferior */
    margin-bottom: 1rem;
}

footer p,
footer a {
    /* Color de los textos del footer y enlaces */
    color: rgb(255, 255, 255);
    /* Para que el validador CSS no tenga adevertencias */
    background-color: inherit;

    font-weight: 400;
}

footer a {
    /* Sin subrayado */
    text-decoration: none;
}

.navFooter {
    /* Para que se vea un espacio respecto al final de la página */
    padding-bottom: 3rem;
}

.navFooter li {
    /* Márgenes entre los enlaces adicionales del footer */
    margin: 1rem;
    /* Tamaño de los enlaces */
    font-size: 1.4rem;
}

.icono:hover {
    /* Cambiar la opacidad de los iconos del footer */
    opacity: 0.7;
}

footer ul {
    /* Quitar el estilo de lista del footer */
    list-style: none;
}

/* COMUNES AL HEADER Y AL FOOTER */
.containerHeader nav a,
footer nav a {
    /* Quitar el subrayado */
    text-decoration: none;
    /* Se aumenta el tamaño */
    font-size: 1.5rem;
}

.containerHeader nav a:hover,
footer nav a:hover {
    /* Quitar el subrayado */
    text-decoration: none;
}

header .resaltar {
    /* Indicamos el grosor de los apartados TEMA DEL MES/BLOG de la cabecera header */
    font-weight: 700;
}

/* Estado hover enlaces header, footer y navegación interna del post */
.resaltar:hover {
    /* Color del estado hover de los enlaces del header, footer y navegación interna del post  */
    /* Se usa un span porque si no te marca también la barra de color */
    color: rgb(64, 195, 130);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
}

/* GESTIÓN DE LOS TÍTULOS DE LAS PÁGINAS */

/* Título EL blog de Naturae Hub + Tema del mes enero 2025 */
.tituloBlog, .tituloTemaMes {
    /* Se alinea en el centro */
    text-align: center;
    /* Tamaño del texto */
    font-size: 3rem;
}

/* Texto Animales en peligro de extinción */
.tituloTemaMes + h3 {
    /* Alinear el texto */
    text-align: center;
    /* Tamaño del texto */
    font-size: 3rem;
}


/* Título El impacto de la fast fashion en el planeta*/
.tituloPost {
    /* Tamaño del texto */
    font-size: 3rem;
    /* Separación con el autor */
    margin-bottom: 4rem;
    
}


/* GESTIÓN DEL VÍDEO EN post.html */

/* Figure del vídeo en post.html */
.videoPost {
    /* CSS necesario para alinear el vídeo, tanto a nivel de texto como en los márgenes externos izquierdo y derecho*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* Margen inferior con el texto de abajo */
    margin-bottom: 3rem;
}

/* Vídeo en post.html*/
iframe {
    /* Para que ocupe el ancho de la pantalla */
    width: 100%;
    /* Altura en móvil del vídeo */
    height: 25rem;
    /* Para que el vídeo se pueda ajustar al ancho y alto establecidos */
    object-fit: cover;
}

/* Pie de foto del vídeo */
.citaVideo {
    /* Margen superior */
    margin-top: 2rem;
    /* Se alinea el texto al valor inicial */
    text-align: initial;
    /* Tamaño del texto */
    font-size: 1.5rem;
}

.citaVideo cite {
    font-style: normal;
}

/* Definir estilo pie de foto vídeo */
.italica {
    /* Se marca el estilo itálica para adaptarse al mockup */
    font-style: italic;
}


/* LISTA ORDENADA EN post.html */

ol {
    /* Margen interno izquierdo lista ordenada */
    padding-left: 5rem;
}

ol li:first-child {
    /* Margen superior negativo para ajustar la separación con el texto de arriba */
    margin-top: -1rem;
}

ol li {
    /* Margen entre los elementos de la lista ordenada */
    margin: 1rem;
}

ol li {
    /* Tamaño de letra lista ordenada */
    font-size: 1.7rem;
    /* Margen entre los elementos de la lista ordenada */
     margin: 1rem;
}

/* GESTIÓN ELEMENTOS TEMA DEL MES */

.elementoTemaMes {
    /* Separación inferior entre las diferentes secciones del tema del mes */
    margin-bottom: 6rem;
}

.numeroElemento {
    /* Margen inferior #[NUMERO] con el texto de abajo */
    margin-bottom: 1rem;
}

.numeroElemento::before {
    /* Para indicar el # antes del número mediante CSS */
    content:"\0023";
}

.numeroElemento + h3 {
    /* Margen inferior con texto "Estado de conservación....*/
    margin-bottom: 1rem;
}

.figuraTemaMes img {
    /* Color de fondo de las imágenes del tema del mes */
    background-color: rgb(255, 255, 255);
    /* Márgenes interiores para que se vea el borde blanco*/
    padding: 2rem;
}

.figuraTemaMes figcaption {
    /* Margen superior con el borde de la imagen */
    margin-top: 1rem;
    /* Margen izquierdo para colocar la cita correctamente */
    margin-left: -1rem;
    /* Margen inferior respecto al texto */
    margin-bottom: 3rem;
}

.figuraTemaMes figcaption cite {
    /* Estilo de letra normal */
    font-style: normal;
}

/* OTROS ELEMENTOS */

/* Cursor abreviaturas */
abbr {
    /* Cambio de la forma del cursor en las abreviaturas */
    cursor: help;
}

/* Texto destacado enero 2025 */
.marcarTexto {
    /* Texto destacado sobre verde en la página tema-del-mes.html */
    color: rgb(255, 255, 255);
    /* Fondo de color para el mes y año en el titular de la página tema-del-mes.html */
    background-color: rgb(64, 195, 130);
}

/* DIV separador de contenidos del post.html con los enlaces de interés */
.separador {
    /* Color de fondo */
    background-color: rgb(0, 0, 0);
    /* Ocupa todo el ancho */
    width: 100%;
    /* Alto */
    height: 0.1rem;
}


/* TEXTO "Te puede interesar" EN EL form.html */
.textoEnlacesInteres {
    /* Margen superior negativo para los enlaces de interés */
    margin-top: -3rem;
    /* Margen inferior negativo para los enlaces de interés */
    margin-bottom: -2rem;
    /* Para dar peso al texto */
    font-weight: bold;
}

/* Texto "Escrito por Lourdes Gómez" */
.tituloPost + p {
    /* Tamaño del texto */
    font-size: 1.5rem;
    /* Margen inferior respecto a la imagen que ocupa todo el ancho */
    margin-bottom: -10rem;
}

/* Texto "La moda pronta..." */
.subtituloPost {

    /* Margen inferior texto post */
    margin-bottom: 5rem;
    /* El tamaño de fuentte se restablece */
    font-weight: normal;
    /* Tamaño de letra */
    font-size: 2rem;
    /* Interlineado */
    line-height: 2.5rem;
}


/* MEDIA QUERIES */

/* Primero aquellas que sean comunes a ambas resoluciones, tanto tablet como móvil */

@media screen and (min-width: 649px) {

    /* GESTIÓN DE LAS TARJETAS EN EL INDEX */
    .coleccionTarjetasIndex {
        /* Se disponen los elementos en línea */
        flex-direction: row;
        /* Espacio entre los elementos */
        gap: 4rem;
        /* Dejar espacio entre los extremos */
        justify-content: space-around;
    }

    .coleccionTarjetasIndex .tarjeta {
        /* Todos los elementos tienen el mismo tamaño con un tamaño base de 20rem */
        flex: 1 20rem;
    }

    /* GESTIÓN DE LAS TARJETAS EN EL BLOG + TARJETAS EN EL POST */
    .coleccionTarjetasBlog,
    .coleccionTarjetasPost {
        /* Se disponen los elementos en línea */
        flex-direction: row;
        /* Para que el contenido de los elementos no salga del contenedor */
        flex-wrap: wrap;
    }
}

/* Tablet */
@media screen and (min-width: 650px) and (max-width: 1199px) {

    .citaImagenCompleta cite {
        /* Tamaño texto cita principal */
        font-size: 1.2rem;
    }

    input[type="text"],
    input[type="email"] {
        /* Se sobreescribe el ancho para escribir en los campos */
        width: 50%;
    }

    /* GESTIÓN DE LAS TARJETAS EN EL BLOG */
    .coleccionTarjetasBlog {
        /* Espacio entre los elementos */
        gap: 5rem;
    }

    .coleccionTarjetasBlog .tarjetaImg {
        /* Especificamos el tamaño mínimo de las tarjetas */
        flex: 1 30rem;
    }

    /* GESTIÓN DE LAS TARJETAS EN EL POST */
    .coleccionTarjetasPost {
        /* Espacio entre los elementos */
        gap: 5rem;
    }

    .coleccionTarjetasPost .tarjetaImg {
        /* Especificamos el tamaño mínimo de las tarjetas */
        flex: 1 30rem;
    }

    /* ALTO DEL VÍDEO EN post.html */
    iframe {
        height: 35rem;
    }
}

/* Ordenador */
@media screen and (min-width: 1200px) {

    /* GESTIÓN DE LOS CONTENEDORES PARA EL CONTENIDO PRINCIPAL */

    /* En dispositivos grandes se reduce el ancho del contenido de algunas páginas */
    .containerMainSpace {
        max-width: 1140px;
    }

    /* En dispositivos grandes mantenemos el ancho del contenido de algunas páginas metiendo padding para que se adapte al mockup */
    .containerMainFull {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    /* CONTENEDORES HEADER Y FOOTER */

    .containerHeader,
    footer {
        display: flex;
        /* Se disponen los elementos en línea */
        flex-direction: row;
        /* Dejar espacio entre los extremos */
        justify-content: space-between;
        /* Margenes internos a justificar */
        padding-left: 6rem;
        padding-bottom: 1rem;
        padding-right: 6rem;
    }

    .containerHeader {
        /* Margen interno superior del header en dispositivos grandes */
        padding-top: 2rem;
    }

    footer {
        /* Margen interno superior del footer en dispositivos grandes */
        padding-top: 5rem;
    }

    .containerHeader ul,
    footer ul {
        /* Las listas ahora se disponnen en fila */
        display: flex;
        flex-direction: row;
    }

    .containerHeader ul li,
    footer ul li {
        /* Eliminamos los estilos de las listas en fila*/
        list-style: none;
    }

    .navHeader li {
        /* Margen interno superior respecto al borde de la pagina para los enlaces Tema del mes y Blog*/
        padding-top: 2rem;
    }

    .containerHFLeft img {
        /* Margen superior negativo para alinear los logotipos del header y el footer */
        margin-top: -2rem;
    }

    .containerHFLeft img+p {
        /* Margen texto imagen icono superior nombre y apellidos */
        margin-top: 3rem;
    }

    .navIconos {
        /* Colocar los iconos al final del elemento flex */
        justify-content: flex-end;
        /* Margen con el menu de navegacion inferior */
        margin-bottom: 2rem;
        /* Margen derecho para alinear con el nav de abajo */
        margin-right: 1rem;
    }

    .llevaBarra::after {
        /* Incluir el caracter barra larga como separador en la navegacion del header y footer */
        margin-left: 2rem;
        content: "\007C";
        font-size: 2rem;
    }

    .navBlog {
        /* Margen izquierdo del elemento blog respecto a la barra en el header */
        margin-left: 2rem;
    }

    .navBlog::after,
    .navFooter li:nth-child(3)::after {
        /* Creamos un content vacio con tamaño igual a los otros elementos de la lista para que quede el texto en la misma horizontal en el header/footer */
        content: "";
        font-size: 2rem;
    }

    /* GESTIÓN CONTENEDOR TEXTO INDEX */

    .contenidoIndex {
        /* Se disponen los elementos en línea en el contenido principal del index*/
        flex-direction: row;
        /* Espacio entre las columnas */
        gap: 10rem;
    }

    .contenidoIndex .natureHubExplicacion {
        /* Lo que ocupa la seccion naturae Hub*/
        flex: 0.7;
    }

    .contenidoIndex aside {
        /* Lo que ocupa el formulario */
        flex: 0.5;
    }

    /* GESTIÓN DE LAS TARJETAS EN EL BLOG */
    .coleccionTarjetasBlog {
        /* Espacio entre los elementos */
        gap: 10rem;
    }

    .coleccionTarjetasBlog .tarjetaImg {
        /* Especificamos el tamaño mínimo de las tarjetas */
        flex: 1 50rem;
    }

    /* GESTIÓN DE LAS TARJETAS EN EL POST */
    .coleccionTarjetasPost {
        /* Espacio entre los elementos */
        gap: 3rem;
    }

    .coleccionTarjetasPost .tarjetaImg {
        /* Especificamos el tamaño mínimo de las tarjetas */
        flex: 0.25 20rem;
    }

    /* ALTO DEL VÍDEO EN post.html */
    iframe {
        width: 70%;
        height: 50rem;
    }

    /* GESTIÓN CONTENEDORES TEMA DEL MES */

    .navInterior {
        /* Cambiamos la disposición de elementos para que ahora estén puestos en columna */
        flex-direction: column;
        /* Separación entre los elementos */
        gap:1rem;
    }

    .navInterior li {
        /* Tamaño de la letra de los elementos de navegación interior */
        font-size: 1.5rem;
    }

    .llevaPunto::after {
        /* Se elimina el punto después de cada elemento de la navegación */
        content:"";
    }

    .contenedorTemaMes {
        /* Se incluye un display flex para colocar la navegación y las secciones en línea para dispositivos de resolución grande */
        display:flex;
        flex-direction: row;
    }

    .contenedorTemaMes aside {
        /* Proporción que ocupa la navegación interna */
        flex: 0.2;
    }

    .contenedorTemaMes .elementosTemaMes {
        /* Proporción que ocupa el conjunto de secciones del tema del mes */
        flex: 0.8;
        /* Aplicamos un display flex column para cada uno de los elementos individuales */
        display: flex;
        flex-direction: column;
    }

    .elementoTemaMes {
        /* Dentro de cada elemento, aplicamos otro display flex para ubicar los elementos en filas */
        display: flex;
        flex-direction: row;
        /* Separación entre los elementos */
        gap: 3rem;
    }

    .numeracionTemaMes {
        /* Proporción que ocupa la numeración de la sección del tema del mes */
        flex:0.25;
    }

    .figuraTemaMes {
        /* Proporción que ocupa la figura de la sección del tema del mes */
        flex:0.25
    }

    .figuraTemaMes img {
        /* Reducimos el padding de la figura de la sección del tema del mes */
        padding: 1rem;
    }

    .textoTemaMes {
        /* Proporción que ocupa el texto de la sección del tema del mes */
        flex:0.5;
    }
}