/* El CSS toma como base el diseño móvil, adaptando las partes que sean necesarias en formato tablet y desktop */
/* usando media queries al final del documento para facilitar la legibilidad al desarrollador */


/* CONTENIDO GLOBAL A TODO EL DOCUMENTO */

/*001*/
html {
    /* Definir un tamaño en px en el html para que redimensionar con unidades rem sea más fácil */
    font-size: 10px;
    /* Modelo de cajas alternativo */
    box-sizing: border-box;
    /* Para evitar que genere una barra horizontal */
    overflow-x: hidden;
}

/*000*/
* {
    /* Modelo de cajas alternativo */
    margin: 0;
    padding: 0;
}

/*000*/
*,
*::before,
*::after {
    /* Todos los elementos heredan el modelo de caja alternativo */
    box-sizing: inherit;

}


/* CONTENEDORES BASE QUE DETERMINAN CUÁNTO OCUPA EL CONTENIDO */


/*010*/
.containerHeader,
.containerImgFull,
.containerMainSpace,
.containerMainSpace_mAlto,
.containerMainFull {
    /* Elementos que tienen en común todos los contendores de la web */
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*010*/
.containerMainSpace,
.containerMainSpace_mAlto,
.containerMainFull {
    /* Contenedores centrados en los contenidos, en función de la resolución se aplicará un max-width y un padding por defecto */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 6rem;
}

/*010*/
.containerMainSpace,
.containerMainFull  {
    /* En el post el padding superior es distinto que en los otros contenedores, por eso se hace una división */
    padding-top: 6rem; 
}

/*010*/
.containerMainSpace_mAlto {
    /* Margen interno superior en el contenedor del post.html */
    padding-top: 3rem; 
}


/* CONTENEDORES QUE REQUIEREN UN DISPLAY FLEX PARA EL DISEÑO RESPONSIVO */


/*010*/
.contenidoIndex {
    /* Para la la separación de contenido en el index en dispositivos de resolución grande */
    display: flex;
    /* Uso de un flex direction column */
    flex-direction: column;
}

/*010*/
.enlacesPaginacion,
.navIconos {
    /* Se aplica un display flex centrando los contenidos y separándolos */
    display: flex;
    /* Uso de un flex direction row */
    flex-direction: row;
    /* Para colocar los elementos hijos en el centro respecto al resto del espacio */
    justify-content: center;
}

/*010*/
.enlacesPaginacion {
    /* Contenedor enlaces paginación blog.html*/
    /* Separación entre los elementos */
    gap: 2rem;
    /* Separación con los elementos de arriba */
    margin-top: 6rem;
    /* Separación con el footer */
    margin-bottom: 3rem;
    /* Tamaño elementos menú navegación */
    font-size: 1.5rem;
}

/*011*/
.enlacesPaginacion li,
.navIconos li {
    /* Eliminar los puntos de los enlaces de paginación en blog.html */
    list-style: none;
}


/* ELEMENTOS BASE */

/*001*/
header,
footer {
    /* Extender header y footer al 100% del ancho permitido */
    width: 100%;
}

/*001*/
body {
    /* Fondo del body de las páginas */
    background-color: rgb(242, 242, 230);
    /* Evitar que el validador CSS tenga problemas */
    color: inherit;
    /* Tipografía usada en toda la web */
    font-family: 'Alegreya Sans', sans-serif;
}

/*001*/
p {
    /* Color de los textos */
    color: rgb(0, 0, 0);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
    /* Interlineado base */
    line-height: 2.6rem;
    /* Tamaño base */
    font-size: 1.8rem;
    /* Margen inferior */
    margin-bottom: 2.5rem;
}

/*001*/
img {
    /* Imágenes responsivas */
    max-width: 100%;
}

/*002*/
header h2 {
    /* Tamaño por defecto del h2 en los headers */
    font-size: 2.5rem;
    /* Margen inferior header h2*/
    margin-bottom: 5rem;
}


/* MENU NAVEGACION PRINCIPAL */

/* Header común a todas las páginas */

/*001*/
h1 {
    /* Título de la web que contiene el enlace a la página principal*/
    /* Márgenes internos */
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    /* Alineación del texto */
    text-align: center;
}

/*010*/
.containerHeader {
    /* Fondo del header de las páginas */
    background-color: rgb(255, 255, 255);
    /* Evitar que el validador CSS tenga problemas */
    color: inherit;
    /*  Margen de separación con los contenidos de abajo */
    margin-bottom: -1rem;
}

/*012*/
.containerHeader nav li {
    /* Elementos de la lista de navegación*/
    /* Quitar el punto de la lista */
    list-style: none;
    /* Alinear el texto */
    text-align: center;
    /* Márgenes por todos los lados*/
    margin: 0.5rem;
}

/*010*/
.navBlog {
    /* Último enlace de la lista de la navegación principal */
    padding-bottom: 4rem;
}


/* GESTION DE LA IMAGEN CENTRAL DE INDEX.HTML Y POST.HTML */

/* Imagen central de index.html */

/*010*/
.imagenCompleta {
    /* Para que ocupe todo el ancho */
    width: 100%;
    /* Tamaño fijo de altura a mantener sin importar la resolucion*/
    height: 50rem;
    /* Para mantener la relacion de aspecto mientras se rellena toda caja */
    object-fit: cover;
}

/* Texto Nature Hub Un espacio para los defensores del medio ambiente */

/*010*/
.textoImagenIndex {
    /* El DIV ocupa todo el ancho para que el texto se pueda centrar bien */
    width: 100%;
    /* Posicion absolute para que salga del flujo normal */
    position: absolute;
    /* Se alinea el texto en el centro*/
    text-align: center;
    /* Distancia con el extremo superior del navegador */
    top: 35rem;
    /* Texto sobre la imagen de fondo de la página index.html */
    color: rgb(255, 255, 255);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
}

/*011*/
.textoImagenIndex h2 {
    /* Tamaño de la fuente de letra */
    font-size: 4rem;
    /* Margen con el texto de abajo */
    margin-bottom: 3rem;
}

/*011*/
.textoImagenIndex h3 {
    /* Paddings para centrar el texto */
    padding-left: 4rem;
    padding-right: 4rem;
    /* Tamaño de fuente */
    font-size: 2.5rem;
    /* El grosor de fuente es el normal */
    font-weight: 400;
}

/* GESTIÓN DE LAS CITAS */

/*001*/
cite {
    /* Fondo de los textos de crédito */
    background-color: rgba(242, 242, 230, 0.7);
    /* Evitar que el validador CSS tenga problemas */
    color: inherit;
    /* Margen interno cita*/
    padding: 1rem;
    /* Tamaño de la cita */
    font-size: 1.2rem;
}

/*002*/
cite a {
    /* Se reinicia el color para que no se sobreescriba en la cita */
    background-color: initial;
    /* Para que el validador CSS no tenga adevertencias */
    color: inherit;
}

/*010*/
.citaImagenCompleta,
.citaImagenTarjeta {
    /* Instrucciones CSS relativas a colocar las citas en las imágenes */
    /* Posicion relativa para colocar la cita dentro de la imagen */
    position: relative;
    /* Para ocupar todo el ancho */
    width: 100%;
    /* Alinear el texto a la derecha */
    text-align: right;
    /* Disponemos algo de margen adicional para la cita en las imágenes */
    margin-left: 1rem;
    /* Encajar el texto arriba */
    top: -5rem;
}

/*010*/
.citaImagenCompleta {
    /* Espacio con el extremo derecho de la cita principal */
    padding-right: 3rem;
}

/*010*/
.citaImagenTarjeta {
    /* Espacio con el extremo derecho de la cita con imagen */
    padding-right: 2rem;
}

/*011*/
.citaImagenCompleta cite,
.citaImagenTarjeta cite {
    /* Tipo de letra normal en vez de italica */
    font-style: normal;
}


/* ENLACES A NIVEL GENERAL */

/*001*/
a {
    /* Color de los enlaces */
    color: rgb(0, 0, 0);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
    /* Subrayado con puntos en un enlace */
    text-decoration: underline;
    text-decoration-style: dotted;
    /* Dejar espacio por debajo del texto */
    text-underline-offset: 0.4rem;
}

/*011*/
a:hover {
    /* Mostrar enlace con borde de línea continua */
    text-decoration-style: initial;
}

/* BOTON + ENLACES EN FORMA DE BOTON + ENLACES DE LA PAGINACIÓN */

/*001*/
/*011*/
button,
.enlaceBoton a,
.enlaceBotonPaginacion a {
    /* Márgenes internos del botón */
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

/*001*/
/*011*/
button,
.enlaceBoton a {
    /* Fondo de color transparente*/
    background-color: transparent;
    /* Para que el validador CSS no tenga adevertencias */
    color: inherit;
}

/*001*/
button {
    /* Borde del botón */
    border: 0.1rem solid rgb(0, 0, 0);
    /* Margen con el texto inferior */
    margin-bottom: 5rem;
    /* Tamaño del texto del botón */
    font-size: 1.7rem;
}

/*010*/
.enlaceBoton {
    /* Posición absoluta para poder fijar el botón */
    position: absolute;
    /* Botón en el fondo */
    bottom: 1rem;
    /* Margen a la izquierda */
    left: 1rem;
}

/*011*/
.enlaceBoton a,
.enlaceBotonPaginacion a {
    /* Color de los bordes de los enlaces en forma de botón */
    border: 0.1rem solid rgb(0, 0, 0);
    /* Quitar el subrayado*/
    text-decoration: none;
}

/*011*/
.enlaceBotonPaginacion a {
    /* Fondo blanco enlaces paginacion */
    background-color: rgb(255, 255, 255);
    /* Para que el validador CSS no tenga adevertencias */
    color: inherit;
}
/*021*/
/*011*/
.enlaceBoton a:hover,
button:hover {
    /* Cambio de color del borde en su estado hover */
    border: 0.1rem solid rgb(64, 195, 130);
}

/*021*/
/*020*/
.enlaceBotonPaginacion a:hover,
.enlaceBotonPaginacion .paginaActual {
    /* Elimino el borde */
    border: none;
    /* Color de fondo */
    background-color: rgb(64, 195, 130);
    /* Color de texto */
    color: rgb(255, 255, 255);
}


/* NAVEGACIÓN TARJETAS EN LA WEB */

/* Titulares que se presentan como enlaces */

/*012*/
h3 a:hover {
    /* Estado :hover de los titulares que se preparan como enlaces */
    color: rgb(64, 195, 130);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
}


/* NAVEGACION INTERNA tema-del-mes.html */

/*010*/
.navInterior {
    /* Margen con la lista inferior */
    margin-bottom: 5rem;
    /* Aplicamos propiedades flex en línea centrando los elementos */
    display: flex;
    flex-direction: row;
    /* Centramos los elementos */
    justify-content: center;
    /* Excluimos el tipo de lista */
    list-style: none;
}

/*011*/
.navInterior li {
    /* Aumenta el tamaño de los elementos de la navegación interior */
    font-size: 1.3rem;
    /* Se aumenta el peso de letra */
    font-weight: 700;
}

/*011*/
.navInterior a {
    /* Quitar subrayado navegacion interna */
    text-decoration: none;
}

/*021*/
.navInterior a:hover {
    /* Estado :hover de los enlaces del menú interior de la página tema-del-mes.html */
    color: rgb(64, 195, 130);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
}

/*011*/
.llevaPunto::after {
    /* Colocar punto de separación */
    margin: 0.2rem;
    content: "\1F784";
    /* Color del punto separador */
    color: rgb(64, 195, 130);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
}

/*021*/
.navInterior li:last-child {
    /* Para alinear el texto 'Oso polar' con el resto de la navegación */
    margin-top: 0.18rem;
}

/* NAVEGACION DE LA PAGINA post.html */

/*010*/
.navPost {
    /* Colocar los elementos flex en línea del menú de navegación interno */
    display: flex;
    flex-direction: row;
    /* Margen separador con el header */
    margin-top: -4rem;
    /* Margen separador con el título del post */
    margin-bottom: 1rem;
    /* Se elimina la lista de navegación */
    list-style: none;
}

/*021*/
.navPost li:last-child {
    /* Para alinear el texto con los enlaces en el menú de navegación */
    margin-top: -0.6rem;
}

/*011*/
.navPost a, .navPost p {
    /* Tamaño del texto en la navegación interna */
    font-size: 1.5rem;
}

/*011*/
.navPost a {
    /* Eliminar subrayado enlaces */
    text-decoration: none;
}

/*011*/
.llevaFlecha::after {
    /* Elemento separador > entre los diferentes elementos */
    content: "\003E";
    /* Margen entre los elementos */
    margin: 0.5rem;
}


/* GESTION DE LAS TARJETAS */

/* GESTIÓN DE LAS TARJETAS A NIVEL GLOBAL */

/*010*/
.coleccionTarjetasIndex, .coleccionTarjetasBlog, .coleccionTarjetasPost {
    /* Uso de grid */
    display: grid;
    grid-template-columns: 1fr;
    /* Espacio  */
    gap: 3rem;
}

/*010*/
.tarjeta,
.tarjetaImg {
    /* Fondo de las tarjetas */
    background-color: rgb(255, 255, 255);
    /* Evitar que el validador CSS tenga problemas */
    color: inherit;
    /* Para poder redimensionar el enlace de botón como absolute */
    position: relative;
}

/*010*/
/*020*/
.tarjeta,
.tarjetaImg .textoTarjetaImg {
    /* Márgenes internos comunes de los textos de las tarjetas */
    padding-left: 1.2rem;
    padding-right: 1.2rem;

}

/*010*/
.tarjeta {
    /* Márgenes internos de los textos de las tarjetas sin imagen */
    padding-top: 2.5rem;
    padding-bottom: 6rem;
}

/*020*/
.tarjetaImg .textoTarjetaImg {
    /* Márgenes internos de los textos de las tarjetas con imagen */
    padding-top: 0.5rem;
    padding-bottom: 8rem;

}

/*011*/
.tarjeta h3 {
     /* Tamaño por defecto de las tarjetas que NO tienen imagen asociada */
     font-size: 2.5rem;   
}

/*021*/
.coleccionTarjetasBlog .tarjetaImg h3 {
    /* Tamaño por defecto de las tarjetas que SÍ tienen imagen asociada */
    font-size: 2.5rem;
    /* Se reduce un poco el margen externo inferior respecto al título */
    margin-bottom: -1rem;
}

/*021*/
.coleccionTarjetasPost .tarjetaImg h3 {
    /* Títulos tarjetas post.html */
    /* Tamaño de los textos */
    font-size: 1.8rem;
    /* Margen superior externo con la imagen */
    margin-top: -0.5rem;
    /* Margen inferior externo con el enlace en forma de botón */
    margin-bottom: 1rem;
}

/*010*/
.desarrolloSostenible {
    /* Para tener una separación con la imagen del desarrollo sostenible en el post.html */
    padding-top: 1.8rem;
}

/*011*/
.tarjeta p,
.tarjetaImg p {
    /* Margen de la tarjeta con el texto de arriba */
    margin-top: 2rem;
    /* Se reduce un poco el margen externo inferior respecto al título */
    margin-bottom: 1rem;
}

/*012*/
.tarjeta p a {
    /* El botón "Saber más" reduce un poco el tamaño de letra */
    font-size: 1.8rem;   
}

/*012*/
/*011*/
.tarjeta h3 a,
.textoTarjetaImg a {
    /* Quitar decoración enlaces tarjetas sin imagen */
    text-decoration: none;
}

/*022*/
.textoTarjetaImg aside p:first-child {
    /* Reducir el tamaño del autor*/
    font-size: 1.4rem;
}

/* FORMULARIO */

/*001*/
label {
    /* Tamaño base de las labels */
    font-size: 1.6rem;
}

/*010*/
.infoPrivacidad {
    /* Tamaño base del texto "Antes de enviar tus datos... */
    font-size: 1.5rem;
    /* Margen con la parte de abajo */
    margin-bottom: 1rem;
}

/*011*/
.infoPrivacidad + p {
    /* Margen check política de privacidad con el botón de envío */
    margin-bottom: 1rem;
}

/*011*/
input[type="checkbox"] {
    /* Para alinear el check de privacidad con el texto */
    vertical-align: middle;
}

/*011*/
input[type="text"],
input[type="email"] {
    /* Disposición de bloque + propiedades asociadas para ajustar el recuadro en el centro */
    display: block;
    /* Margen interno del elemento para escribir */
    padding: 0.6rem;
    /* Margen superior con las labels asociadas*/
    margin-top: 1rem;
    /* Margen inferior */
    margin-bottom: 1.5rem;
    /* Fondo de los controles del formulario de la página index.html */
    background-color: rgb(255, 255, 255);
    /* Evitar que el validador CSS tenga problemas */
    color: inherit;
    /* Quitar el borde del juego */
    border: none;
    /* Abarca el máximo ancho posible */
    width: 100%;
}

/*011*/
input:focus {
    /* Se quita la línea que sale al seleccionar el campo del formulario */
    outline: none;
    /* Mostrar un borde de color negro */
    border: 0.1rem solid rgb(0, 0, 0);
}


/* FOOTER */

/*001*/
footer {
    /* Color de fondo del footer */
    background-color: rgb(0, 0, 0);
    /* Para que el validador CSS no produzca warnings */
    color: inherit;
    /* Margen con las tarjetas*/
    margin-top: 3rem;
    /* Margen con el logotipo */
    padding-top: 3rem;
    /* Para alinear en el centro el texto del footer del contenedor que abarca todo el espacio */
    text-align: center;
}

/*012*/
footer .containerHFLeft img {
    /* Separación con el texto de abajo */
    margin-bottom: 2rem;
}

/*002*/
footer p {
    /* Se ajusta el tamaño del texto 2024-2025 Nombre y apellidos del alumno */
    font-size: 1.5rem;
    /* Se ajusta el margen*/
    margin-bottom: 1rem;
}

/*002*/
footer p,
footer a {
    /* Color de los textos del footer y enlaces */
    color: rgb(255, 255, 255);
    /* Para que el validador CSS no tenga adevertencias */
    background-color: inherit;
}

/*002*/
footer a {
    /* Sin subrayado */
    text-decoration: none;
}

/*010*/
.navFooter {
    /* Para que se vea un espacio respecto al final de la página */
    padding-bottom: 3rem;
}

/*011*/
.navFooter li {
    /* Márgenes entre los enlaces adicionales del footer */
    margin: 1rem;
    /* Tamaño de los enlaces */
    font-size: 1.4rem;
}

/*010*/
.navIconos {
    /* Espacio entre los elementos hijos de los iconos del footer */
    gap: 0.5rem;
}

/*020*/
.icono:hover {
    /* Cambiar la opacidad de los iconos del footer */
    opacity: 0.7;
}

/*002*/
footer ul {
    /* Quitar el estilo de lista del footer */
    list-style: none;
}

/* COMUNES AL HEADER Y AL FOOTER */

/*012*/
/*003*/
.containerHeader nav a,
footer nav a {
    /* Quitar el subrayado */
    text-decoration: none;
    /* Se aumenta el tamaño */
    font-size: 1.5rem;
}

/*022*/
/*013*/
.containerHeader nav a:hover,
footer nav a:hover {
    /* Quitar el subrayado */
    text-decoration: none;
}

/*011*/
header .resaltar {
    /* Indicamos el grosor de los apartados TEMA DEL MES/BLOG de la cabecera header */
    font-weight: 700;
}

/*020*/
.resaltar:hover {
    /* Estado hover enlaces header, footer y navegación interna del post */
    /* Color del estado hover de los enlaces del header, footer y navegación interna del post */
    /* Se usa un span porque si no te marca también la barra de color */
    color: rgb(64, 195, 130);
    /* Evitar que el validador CSS tenga problemas */
    background-color: inherit;
}

/* GESTIÓN DE LOS TÍTULOS DE LAS PÁGINAS */

/*010*/
.tituloBlog, .tituloTemaMes {
    /* Título EL blog de Naturae Hub + Tema del mes enero 2025 */
    /* Se alinea en el centro */
    text-align: center;
    /* Tamaño del texto */
    font-size: 3.5rem;
}

/*010*/
.tituloTemaMes {
    /* Padding interno para alinear el texto Tema del mes enero 2025 en dispositivos móviles */
    padding-left: 9rem;
    padding-right: 9rem;
    /* Interlineado para el texto en móvil */
    line-height: 4.5rem;
}

/*011*/
.tituloTemaMes + h3 {
    /* Texto Animales en peligro de extinción */
    /* Alinear el texto */
    text-align: center;
    /* Tamaño del texto */
    font-size: 3rem;
    /* Dejamos algo más de margen de separación entre el título y la navegación interior */
    margin-bottom: 5rem;
}

/*010*/
.tituloPost {
    /* Título El impacto de la fast fashion en el planeta*/
    /* Tamaño del texto */
    font-size: 3.5rem;
    /* Separación con el autor */
    margin-bottom: 4rem;
    /* Padding derecho para ajustarse al mockup */
    padding-right: 8rem;
}

/* GESTIÓN DEL VÍDEO EN post.html */

/*010*/
.videoPost {
    /* Figure del vídeo en post.html */
    /* CSS necesario para alinear el vídeo, tanto a nivel de texto como en los márgenes externos izquierdo y derecho*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* Margen inferior con el texto de abajo */
    margin-bottom: 3rem;
}

/*001*/
iframe {
    /* Para que ocupe el ancho de la pantalla */
    width: 100%;
    /* Altura en móvil del vídeo */
    height: 25rem;
    /* Para que el vídeo se pueda ajustar al ancho y alto establecidos */
    object-fit: cover;
}

/*010*/
.citaVideo {
    /* Pie de foto del vídeo */
    /* Margen superior */
    margin-top: 2rem;
    /* Se alinea el texto al valor inicial */
    text-align: initial;
    /* Tamaño del texto */
    font-size: 1.2rem;
}

/*011*/
.citaVideo cite {
    /* Estilo normal de cita en la fuente del vídeo */
    font-style: normal;
}

/*010*/
.italica {
    /* Definir estilo pie de foto vídeo */
    /* Se marca el estilo itálica para adaptarse al mockup */
    font-style: italic;
}


/* LISTA ORDENADA EN post.html */

/*010*/
.listaOrdenada {
    /* Margen interno izquierdo lista ordenada */
    padding-left: 5rem;
}

/*021*/
.listaOrdenada li:first-child {
    /* Margen superior negativo para ajustar la separación con el texto de arriba */
    margin-top: -1rem;
}

/*011*/
.listaOrdenada li {
    /* Tamaño de letra lista ordenada */
    font-size: 1.8rem;
    /* Margen entre los elementos de la lista ordenada */
    margin: 1rem;
}

/* GESTIÓN ELEMENTOS TEMA DEL MES */

/*010*/
.elementosTemaMes {
    /* Primero se hace la gestión del contador en las listas */
    /* Inicializa un contador llamado counter */
    counter-reset: counter;
}

/*011*/
.elementosTemaMes li {
    /* Quita el tipo de lista*/
    list-style-type: none;
    /* Por cada elemento li aumenta el contador */
    counter-increment: counter;
}

/*013*/
.numeracionTemaMes header h3::before {
    /* Antes de cada h3 incluimos # + el contador actual */
    content: "#" counter(counter);
    /* Tamaño de la fuente */
    font-size: 5rem;
    /* Se aplica un display block para mover el texto debajo de la numeración*/
    display: block;
}

/*012*/
.numeracionTemaMes header h3 {
    /* Margen inferior con texto "Estado de conservación....*/
    margin-bottom: 0;
    /* Tamaño del texto respecto al número */
    font-size: 2.5rem;
}

/*010*/
.elementoTemaMes {
    /* Separación inferior entre las diferentes secciones del tema del mes */
    margin-bottom: 6rem;
}

/*011*/
.figuraTemaMes img {
    /* Color de fondo de las imágenes del tema del mes */
    background-color: rgb(255, 255, 255);
    /* Para que el validador CSS no produzca warnings */
    color: inherit;
    /* Márgenes interiores para que se vea el borde blanco*/
    padding: 2rem;
}

/*011*/
.figuraTemaMes figcaption {
    /* Margen superior con el borde de la imagen */
    margin-top: 1rem;
    /* Margen izquierdo para colocar la cita correctamente */
    margin-left: -1rem;
    /* Margen inferior respecto al texto */
    margin-bottom: 3rem;
    /* Tamaño de los figcaption asociados las imágenes del tema del mes */
    font-size: 1.2rem;
}

/*012*/
.figuraTemaMes figcaption cite {
    /* Estilo de letra normal */
    font-style: normal;
}


/* TEXTOS EN EL POST.HTML */

/*010*/
.textoEnlacesInteres {
    /* TEXTO "Te puede interesar" EN EL form.html */
    /* Margen superior negativo para los enlaces de interés */
    margin-top: -3rem;
    /* Margen inferior para los enlaces de interés */
    margin-bottom: 1rem;
    /* Para dar peso al texto */
    font-weight: 700;
}

/*011*/
.tituloPost + p {
    /* Texto "Escrito por Lourdes Gómez" */
    /* Tamaño del texto */
    font-size: 1.5rem;
    /* Margen inferior respecto a la imagen que ocupa todo el ancho */
    margin-bottom: -5rem;
}

/*010*/
.subtituloPost {
    /* Texto "La moda pronta..." */
    /* Margen inferior texto post */
    margin-bottom: 3rem;
    /* El tamaño de fuentte se restablece */
    font-weight: normal;
    /* Tamaño de letra */
    font-size: 2.5rem;
    /* Interlineado */
    line-height: 3.5rem;
}

/*010*/
.tituloSeccionPost {
    /* Titulos de las secciones dentro del html de post */
    /* Tamaño de letra */
    font-size: 2.5rem;
    /* Margen inferior con el contenido */
    margin-bottom: 2rem;
}

/* OTROS ELEMENTOS */

/*001*/
abbr {
    /* Cursor abreviaturas */
    /* Cambio de la forma del cursor en las abreviaturas */
    cursor: help;
}

/*010*/
.marcarTexto {
    /* Texto destacado enero 2025 */
    /* Texto destacado sobre verde en la página tema-del-mes.html */
    color: rgb(255, 255, 255);
    /* Fondo de color para el mes y año en el titular de la página tema-del-mes.html */
    background-color: rgb(64, 195, 130);
    /* Márgenes internos para poder resaltar más el subrayado verde */
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/*010*/
.separador {
    /* DIV separador de contenidos del post.html con los enlaces de interés */
    /* Color de fondo */
    background-color: rgb(0, 0, 0);
    /* Para que el validador CSS no produzca warnings */
    color: inherit;
    /* Ocupa todo el ancho */
    width: 100%;
    /* Alto */
    height: 0.1rem;
    /* Margen externo inferior con otros enlaces de interés */
    margin-bottom: 3rem;
}



/* MEDIA QUERIES */

/* Primero aquellas que sean comunes a ambas resoluciones, tanto tablet como móvil */

@media screen and (min-width: 649px) {

    /* GESTIÓN DE LAS TARJETAS EN EL INDEX */

    /*010*/
    .coleccionTarjetasIndex {
        /* Creación de columnas */
        grid-template-columns: repeat(3, 1fr);
        /* Espacio */
        gap: 4rem;
    }
}


/* Tablet */
@media screen and (min-width: 649px) and (max-width: 1199px) {

    /*001*/
    html {
        /* Se redefine el tamaño de letra para ajustar las unidades rem */
        font-size: 11px;
    }
 
    /*011*/
    input[type="text"],
    input[type="email"] {
        /* Se sobreescribe el ancho para escribir en los campos */
        width: 50%;
    }

    /* GESTIÓN DE LAS TARJETAS EN EL BLOG + POST */

    /*010*/
    .coleccionTarjetasBlog, .coleccionTarjetasPost {
        /* Creación de columnas */
        grid-template-columns: repeat(2, 1fr);
        /* Espacio */
        gap: 4rem;
    }
 
    /*001*/
    iframe {
        /* Alto del vídeo en post.html */
        height: 40rem;
    }

     /*021*/
    .navPost li:last-child {
        /* Para alinear el texto del final con los enlaces en el menú de navegación */
        margin-top: -0.5rem;
    }
}

/* Ordenador */
@media screen and (min-width: 1200px) {

    /*001*/
    html {
        /* Se redefine el tamaño de letra para ajustar las unidades rem */
        font-size: 12px;
    }

    /* GESTIÓN DE LOS CONTENEDORES PARA EL CONTENIDO PRINCIPAL */

    /*010*/
    .containerMainSpace, .containerMainSpace_mAlto {
        /* En dispositivos grandes se reduce el ancho del contenido de algunas páginas */
        max-width: 1140px;
    }

    /*010*/
    .containerMainFull {
        /* En dispositivos grandes mantenemos el ancho del contenido de algunas páginas metiendo padding para que se adapte al mockup */
        padding-left: 5rem;
        padding-right: 5rem;
    }


    /* CONTENEDORES HEADER Y FOOTER */

     /*010*/
     /*001*/
    .containerHeader,
    footer {
        display: flex;
        /* Se disponen los elementos en línea */
        flex-direction: row;
        /* Dejar espacio entre los extremos */
        justify-content: space-between;
        /* Margenes internos a justificar */
        padding-left: 5rem;
        padding-bottom: 1rem;
        padding-right: 5rem;
    }

    /*010*/
    .containerHeader {
        /* Margen interno superior del header en dispositivos grandes */
        padding-top: 2rem;
    }

    /*001*/
    footer {
        /* Margen interno superior del footer en dispositivos grandes */
        padding-top: 5rem;
    }

    /*011*/
    /*002*/
    .containerHeader ul,
    footer ul {
        /* Las listas ahora se disponnen en fila */
        display: flex;
        flex-direction: row;
    }

    /*012*/
    /*003*/
    .containerHeader ul li,
    footer ul li {
        /* Eliminamos los estilos de las listas en fila*/
        list-style: none;
    }

    /*011*/
    .textoImagenIndex h2 {
        /* Tamaño texto Naturae Hub */
        font-size: 5rem;
    }

    /*010*/
    .textoImagenIndex {
        /* Se ajusta el alto del texto superpuesto sobre la imagen */
        top: 28rem;
    }

    /*011*/
    .textoImagenIndex h3 {
        /* Tamaño texto Un espacio para los defensores del medio ambiente*/
        font-size: 3.5rem;
    }

    /*011*/
    .navHeader li {
        /* Margen interno superior respecto al borde de la pagina para los enlaces Tema del mes y Blog*/
        padding-top: 2rem;
    }

    /*011*/
    .containerHFLeft img {
        /* Margen superior negativo para alinear los logotipos del header y el footer */
        margin-top: -2rem;
    }

    /*010*/
    .navIconos {
        /* Colocar los iconos al final del elemento flex */
        justify-content: flex-end;
        /* Margen con el menu de navegacion inferior */
        margin-bottom: 1rem;
        /* Margen derecho para alinear con el nav de abajo */
        margin-right: 1rem;
        /* Ajuste del margen externo superior */
        margin-top: -1rem;
    }

    /*011*/
    .llevaBarra::after {
        /* Incluir el caracter barra larga como separador en la navegacion del header y footer */
        margin-left: 1rem;
        content: "\007C";
    }

    /*010*/
    .navBlog {
        /* Margen interno izquierdo del elemento blog respecto a la barra en el header */
        padding-left: 0.5rem;
    }

    /*021*/
    .navHeader li:last-child{
        /* Margen superior para alinear el texto 'BLOG' con el resto del contenido */
        margin-top: 0.7rem;
    }

    /*011*/
    .navFooter li {
        /* Se ajusta el margen izquierdo en la navegación del footer */
        margin-left: 0rem;

    }

    /* GESTIÓN CONTENEDOR TEXTO INDEX */

    /*010*/
    .contenidoIndex {
        /* Se disponen los elementos en línea en el contenido principal del index*/
        flex-direction: row;
        /* Espacio entre las columnas */
        gap: 10rem;
    }

    /*020*/    
    .contenidoIndex .natureHubExplicacion {
        /* Lo que ocupa la seccion naturae Hub*/
        flex: 0.7;
    }

    /*011*/  
    .contenidoIndex aside {
        /* Lo que ocupa el formulario */
        flex: 0.5;
    }

    /* GESTIÓN DE LAS TARJETAS EN EL BLOG + POST */

    /*010*/  
    .coleccionTarjetasBlog {
        /* Creación de columnas */
        grid-template-columns: repeat(3, 1fr);
        /* Espacio entre los elementos */
        gap: 4rem;
    }

    /*010*/ 
    .coleccionTarjetasPost {
        /* Creación de columnas */
        grid-template-columns: repeat(4, 1fr);
        /* Espacio entre los elementos */
        gap: 4rem;
    }

    /*001*/     
    iframe {
        /* ALTO DEL VÍDEO EN post.html */
        width: 70%;
        height: 50rem;
    }

    /* GESTIÓN CONTENEDORES TEMA DEL MES */

    /*010*/ 
    .navInterior {
        /* Cambiamos la disposición de elementos para que ahora estén puestos en columna */
        flex-direction: column;
        /* Separación entre los elementos */
        gap:1rem;
    }

    /*011*/ 
    .llevaPunto::after {
        /* Se elimina el punto después de cada elemento de la navegación */
        content:"";
    }

    /*010*/ 
    .contenedorTemaMes {
        /* Se incluye un display flex para colocar la navegación y las secciones en línea para dispositivos de resolución grande */
        display:flex;
        flex-direction: row;
    }

    /*011*/ 
    .contenedorTemaMes aside {
        /* Proporción que ocupa la navegación interna */
        flex: 0.2;
    }

    /*020*/ 
    .contenedorTemaMes .elementosTemaMes {
        /* Proporción que ocupa el conjunto de secciones del tema del mes */
        flex: 0.8;
        /* Aplicamos un display flex column para cada uno de los elementos individuales */
        display: flex;
        flex-direction: column;
    }

    /*010*/ 
    .elementoTemaMes {
        /* Dentro de cada elemento, aplicamos otro display flex para ubicar los elementos en filas */
        display: flex;
        flex-direction: row;
        /* Separación entre los elementos */
        gap: 5rem;
    }

    /*012*/ 
    .elementoTemaMes header h3 {
        /* Tamaño del texto base de los títulos del tema del mes */        
        font-size: 3rem;
    }

    /*012*/ 
    .elementoTemaMes header p {
        /* Tamaño del texto base del texto bajo los títulos del tema del mes */
        font-size: 1.5rem;
    }

    /*010*/ 
    .numeracionTemaMes, .figuraTemaMes {
        /* Proporción que ocupa la numeración/figura de la sección del tema del mes */
        flex:0.3;
    }

    /*010*/ 
    .textoTemaMes {
        /* Proporción que ocupa el texto de la sección del tema del mes */      
        flex:0.40
    }

    /*011*/ 
    .figuraTemaMes img {
        /* Reducimos el padding de la figura de la sección del tema del mes */
        padding: 1rem;
    }

    /*010*/ 
    .textoTemaMes {
        /* Proporción que ocupa el texto de la sección del tema del mes */
        flex:0.5;
    }
    
    /*010*/ 
    .citaVideo {
        /* Pie de foto del vídeo */
        /* Margen exterior izquierdo para alinear el pie respecto al vídeo en resoluciones grandes */
        margin-left: 15rem;
    }

    /*021*/ 
    .navPost li:last-child {
        /* Para alinear el texto del final con los enlaces en el menú de navegación */
        margin-top: -0.3rem;
    }  
    
    /*021*/ 
    .navHeader li:last-child {
        /* Para alinear el texto de BLOG con TEMA DEL MES en la navegación superior */
        margin-top: 0.5rem;
    }  


}